@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    min-width: 0;
  }

  html,
  body {
    -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
    -webkit-tap-highlight-color: transparent;
  }

  html {
    @apply bg-white text-gray-900;
  }

  body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
  }
}
